*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1366px;
    margin: auto;
}
.fram{
    position: relative;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #426EC4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 140px;
}
.logo{
    margin-left: 140px;
}
.nav-link ul{
    display: flex;
}
.nav-link ul li{
    margin-right: 23px;
    list-style-type: none;
}
.nav-link ul a{
    text-decoration: none;
    color: white;
}
.container .fram .logo h1{
    color: white;
    font-style: italic;
    font-size: 30px;
}
.btn{
    width: 65px;
    height: 30px;
    background: #E5E5E5;
    border-radius: 4px;
    border: 0px;
    color: #426EC4;
    font-weight: 600;
    transition: 0.2s;
}
.btn:hover{
    background: #426EC4;
    color: white;
    
    border: 1px solid white;
}
.header{
    background: rgba(3, 63, 179, 0.79);
}
.row{
    padding: 140px;

}
.header .row .col h1{
    color: white;
    font-size: 42px;
}
.header .row .col .header-img{
    margin-left: 700px;
    margin-top: -350px;
}
.header .row .col p{
    color: white;
    font-size: 18px;
}

.header-img img{
    height: 400px;
}
.button{
    margin-top: 30px;
}
.hero-btn-1{
    width: 100px;
    height: 38px;
    background: #426EC4;
    border-radius: 4px;
    border: 0px;
    color: white;
    font-weight: 600;
    transition: 0.2s;
}
.hero-btn-1:hover{
    background: #E5E5E5;
    color: #426EC4;
    border: 1px solid blue;
}
.hero-btn-2{
    width: 100px;
    height: 38px;
    background: #E5E5E5;
    border-radius: 4px;
    border: 0px;
    color: #426EC4;
    font-weight: 600;
    transition: 0.2s;
    margin-left: 15px;
}
.hero-btn-2:hover{
    background: #426EC4;
    color: white;
    border: 1px solid white;
}



/* -------About Section---- */ 

.about-sec{
    background:#E5E5E5;
}

.container .about h1{
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    padding-top: 45px;
}

.container .about-img img{
    width: 1349px;
    height: 310px;
    margin-top: 45px;
}
.container .about-img .middle-box{
    position: absolute;
    width: 522px;
    height: 93px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: -200px;
    margin-left: 400px;
    text-align: center;
}
.container .about-img .middle-box p{
    font-style: italic;
    font-size: 33px;
    line-height: 49px;
    color: #FFFFFF;
    margin-top: 20px;
}
.container .about-p{
    font-style: italic;
    font-weight: normal;
    font-size: 22px;
    
    padding: 45px 140px 45px 140px;
    color: #000000;
}



/* --------Blog----------- */

.blog-sec{
    background:#E5E5E5;
}
.container .blog h1{
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    padding-top: 45px;
}
.container .card-box{
    background: rgba(3, 63, 179, 0.79);
    padding-bottom: 40px;
    margin-top: 45px;
}
.container .card-box .info{
    padding: 30px 140px;
}
.container .card-box .info h1{
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 64px;
    color: #FFFFFF
}
.container .card-box .info p{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    
    color: lightgrey;
}
.card-img img{
    width: 245px;
    height: 133px;
}

.container .card-box .card{
    width: 245px;
    height: 289px;
    filter: drop-shadow(3px 7px 19px rgba(0, 0, 0, 0.25));
    margin-left: 230px;
    display: flex;

}
.container .card-box .card h5{
    
    font-size: 12px;
    line-height: 18px;
    color: black;
}
.container .card-box .card p{
    font-weight: normal;
    font-size: 11px;
    color: #000000;
}
.container .card-box .card .card-1{
    background: white;
    margin-right: 70px;
}
.container .card-box .card .card-1 .blog-post{
   margin-left: 10px;
   margin-right: 10px;
}
.container .card-box .card .card-1 .time-more{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
 }
