*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1366px;
    margin: auto;
}
.fram{
    position: relative;
    height: 60px;
    left: 0px;
    top: 0px;
    background: #426EC4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 140px;
}
nav .fa{
    display: none;
}
.logo{
    margin-left: 140px;
}
.nav-link ul{
    display: flex;
}
.nav-link ul li{
    margin-right: 23px;
    list-style-type: none;
}
.nav-link ul a{
    text-decoration: none;
    color: white;
}
.container .fram .logo h1{
    color: white;
    font-style: italic;
    font-size: 30px;
}
.btn{
    width: 65px;
    height: 30px;
    background: #E5E5E5;
    border-radius: 4px;
    border: 0px;
    color: #426EC4;
    font-weight: 600;
    transition: 0.2s;
}
.btn:hover{
    background: #426EC4;
    color: white;
    
    border: 1px solid white;
}
.header{
    background: rgba(3, 63, 179, 0.79);
}
.row{
    padding: 140px;

}
.va-img{
    display: none;
}
.header .row .col h1{
    color: white;
    font-size: 42px;
}
.header .row .col .header-img{
    margin-left: 700px;
    margin-top: -350px;
}
.header .row .col p{
    color: white;
    font-size: 18px;
}

.header-img img{
    height: 400px;
}
.button{
    margin-top: 30px;
}
.hero-btn-1{
    width: 100px;
    height: 38px;
    background: #426EC4;
    border-radius: 4px;
    border: 0px;
    color: white;
    font-weight: 600;
    transition: 0.2s;
}
.hero-btn-1:hover{
    background: #E5E5E5;
    color: #426EC4;
    border: 1px solid blue;
}
.hero-btn-2{
    width: 100px;
    height: 38px;
    background: #E5E5E5;
    border-radius: 4px;
    border: 0px;
    color: #426EC4;
    font-weight: 600;
    transition: 0.2s;
    margin-left: 15px;
}
.hero-btn-2:hover{
    background: #426EC4;
    color: white;
    border: 1px solid white;
}



/* -------About Section---- */ 

.about-sec{
    background:#E5E5E5;
}

.container .about h1{
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    padding-top: 45px;
}

.container .about-img img{
    width: 1349px;
    height: 310px;
    margin-top: 45px;
}
.container .about-img .middle-box{
    position: absolute;
    width: 522px;
    height: 93px;
    border: 1px solid white;
    box-sizing: border-box;
    margin-top: -200px;
    margin-left: 400px;
    text-align: center;
}
.container .about-img .middle-box p{
    font-size: 33px;
    line-height: 49px;
    color: #FFFFFF;
    margin-top: 20px;
}
.container .about-p{
    font-weight: normal;
    font-size: 22px;
    padding: 45px 140px 45px 140px;
    color: #000000;
}



/* --------Blog----------- */

.blog-sec{
    background:#E5E5E5;
}
.container .blog h1{
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    padding-top: 45px;
}
.container .card-box{
    background: rgba(3, 63, 179, 0.79);
    padding-bottom: 40px;
    margin-top: 45px;
}
.container .card-box .info{
    padding: 30px 140px;
}
.container .card-box .info h1{
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 64px;
    color: #FFFFFF
}
.container .card-box .info p{
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
    
    color: lightgrey;
}
.card-img img{
    width: 245px;
    height: 133px;
}

.container .card-box .card{
    width: 245px;
    height: 289px;
    filter: drop-shadow(3px 7px 19px rgba(0, 0, 0, 0.25));
    margin-left: 230px;
    display: flex;

}
.container .card-box .card h5{
    
    font-size: 12px;
    line-height: 18px;
    color: black;
}
.container .card-box .card p{
    font-weight: normal;
    font-size: 11px;
    color: #000000;
}
.container .card-box .card .card-1{
    background: white;
    margin-right: 70px;
}
.container .card-box .card .card-1 .blog-post{
   margin-left: 10px;
   margin-right: 10px;
}
.container .card-box .card .card-1 .time-more{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
 }



 /* ------project-sec------ */
 .project-sec{
    background:#E5E5E5;
 }
 .project-sec .container .project h1{
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    padding-top: 45px;
 }

 .container .img-box{
    position: relative;
    height: 994px;
    background: url(images/pic.jpg), #C4C4C4;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-top: 45px;
 }
 .project-sec .container .img-box .img-box-1{
    display: flex;
    align-items: center;
    width: 1078px;
    height: 418px;
    padding: 130px 0px 45px 140px;
    margin-bottom: 60px;
 }
 .project-sec .container .img-box .img-box-1 h2{
    width: 306px;
    height: 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 74px;
    text-align: center;
    color: #FFFFFF;
 }
 .project-sec .container .img-box .img-box-1 .img-flex{
    display: flex;
    width: 666px;
    height: 418px;
    margin-left: 100px;
 }
 .project-sec .container .img-box .img-box-1 .img-flex img{
    width: 316px;
    height: 194px;
    box-shadow: 3px 3px 25px 5px #230C0C;
    /* padding: 30px 30px 30px 30px; */
    margin:  10px 10px 10px 10px;
 }



 /* ------login section------ */
.login-sec{
    background:#E5E5E5;
}
.login-sec .container{
    padding-left: 140px;
    padding-right: 140px;
    padding-bottom: 45px;
}
.login-sec .container .login h1{
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    padding-top: 45px;
    padding-bottom: 45px;
}
 .login-sec .container .login-page{
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .login-sec .container .login-page .detail img{
    width: 228px;
    height: 211px;
    margin-left: 120px;
 }
 .login-sec .container .login-page .detail h1{
     margin-left: 90px;
 }
 .login-sec .container .login-page .detail p{
    margin-left: 50px;
}
 .login-sec .container .login-page .form{
    width: 436px;
    height: 457px;
    background: #3261BD;
    border-radius: 24px;
    color: white;
    padding: 35px;
 }
 .login-sec .container .login-page .form .form-dt{
    margin-top: 10px;
 }
 .login-sec .container .login-page .form .form-dt p{
     margin-left: 20px;
     margin-bottom: 5px;
 }
 .login-sec .container .login-page .form .form-dt input{
    width: 367px;
    height: 51px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
    border: none;
 }
 .login-sec .container .login-page .form .form-dt .p-p{
    margin-top: 20px;
    margin-bottom: 20px;
 }
 .login-btn-1{
    width: 145px;
    height: 39px;
    background: #3261BD;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 21px;
    color: white;
    font-weight: 600;
    font-size: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.2s;
    margin-left: 120px;
}
.login-btn-1:hover{
    background: #E5E5E5;
    color: #3261BD;
    border: 1px solid white;
}


/* ---------footer-section---------- */
.footer-sec{
    background: black;
    color: whitesmoke;
    padding-top: 50px;
}
.footer-sec .container .footer{
    margin-left: 550px;
}



/* -----responsive----------- */

@media only screen and (max-width: 992px){
    .nav-link ul li{
        display: block;
        padding: 10px;
     }
     .nav-link ul{
        flex-direction: column;
     }
     .nav-link{
         position: fixed;
         background: black;
         height: 100vh;
         width: 200px;
         top: 0;
         right: -200px;
         z-index: 2;
         transition: 1s;
     }
     nav .fa{
         display: block;
         color: #fff;
         margin: 10px;
         margin-right: -100px;
         font-size: 22px;
         cursor: pointer;
     }
     .nav-link ul{
         padding: 30px;
     }
    .logo{
        margin-left: 40px;
    }
    .row{
        padding: 40px;
        padding-top: 140px;
        padding-bottom: 100px;
    }
    .header .row .col .header-img{
        margin-left: 510px;
    }
    .header .row .col p{
        font-size: 15px;
    }
    .container .about-img img{
        width: 100%;
    }
    .container .about-img .middle-box{
        margin-left: 220px;
    }
    .container .about-p{
        padding:40px;
    }
    .container .card-box .info{
        padding: 40px;
    }
    .container .card-box .card{
        margin-left: 45px;
    }

     .container .img-box{
        height: 1004px;
     }
     .project-sec .container .img-box .img-box-1{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
     }
     .project-sec .container .img-box .img-box-1 h2{
       margin-left: -80px;
       margin-bottom: 20px;
     }
     .project-sec .container .img-box .img-box-1 .img-flex{
        margin-left: 10px;
     }
     .project-sec .container .img-box .img-box-1 .img-flex img{
        margin-left: -10px;
     }
     .venish{
         display: none;
     }
     .padd-va{
         padding-top: 50px;
     }
    .detail{
        margin-left: -140px;
    }
    .login-sec .container .login-page .detail img{
        margin-left: 120px;
    }
    .login-sec .container .login-page .detail h1{
        margin-left: 85px;
    }
    .login-sec .container .login-page .detail p{
        margin-left: 50px;
    }
    .login-sec .container .login-page .form{
        margin-right: -90px;
    }

    .footer-sec{
        background: black;
        color: whitesmoke;
        padding-top: 50px;
    }
    .footer-sec .container .footer{
        margin-left: 370px;
    }

}


@media (max-width:576px){
    .row{
        padding: 0 40px 40px 40px;
    }
    .header .row .col h1{
        font-size: 29px;
        padding-top: 10px;
    }
    .header .row .col .header-img{
        margin-left: 100px;
        margin-top: 0px;
    }
    .header .row .col p{
        font-size: 12px;
    }
    .header .row .col p br{
        display: none;
    }
    .va-img{
       display: block;
      
    }
    .va-img img{
        height: 200px;
        margin-left: -60px;
    }
    .va-img-1{
        display: none;
    }



    /* -------About Section---- */ 

.container .about h1{
    padding-top: 15px;
}
.container .about-img img{
    width: 100%;
    height: 130px;
    margin-top: 15px;
}
.container .about-img .middle-box{
    width: 250px;
    margin-top: -117px;
    margin-left: 55px;
}
.container .about-img .middle-box p{
    font-size: 18px;
}
.container .about-p{
    font-size: 12px;
    margin-top: -30px;
    margin-bottom: -25px;
}



/* --------Blog----------- */
.container .blog h1{
    padding-top: 15px;
}
.container .card-box{
    padding-bottom: 10px;
    margin-top: 15px;
}
.container .card-box .info{
    padding: 10px 35px;
}
.container .card-box .info h1{
    font-size: 30px;
    line-height: 34px;
    padding-bottom: 10px;
}
.container .card-box .info p{
    font-size: 12px;
    line-height: 19px;
    padding-bottom: 10px;
}
.card-img img{
    width: 100%;
    height: 153px;
}
.container .card-box .card{
    width: 100%;
    height: 100%;
    margin-left: 35px;
    flex-direction: column;
}
.container .card-box .card .card-1{
    margin-bottom: 10px;
}



/* ------project-sec------ */
.project-sec{
    background:#E5E5E5;
 }
 .project-sec .container .project h1{
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 64px;
    text-align: center;
    color: #000000;
    padding-top: 45px;
 }

 .container .img-box{
    position: relative;
    height: 994px;
    background: url(images/pic.jpg), #C4C4C4;
    background-size: auto 100%;
    background-repeat: no-repeat;
    margin-top: 45px;
 }
 .project-sec .container .img-box .img-box-1{
    display: flex;
    align-items: center;
    width: 1078px;
    height: 418px;
    padding: 130px 0px 45px 140px;
    margin-bottom: 60px;
 }
 .project-sec .container .img-box .img-box-1 h2{
    width: 306px;
    height: 65px;
    font-style: normal;
    font-weight: normal;
    font-size: 43px;
    line-height: 74px;
    text-align: center;
    color: #FFFFFF;
 }
 .project-sec .container .img-box .img-box-1 .img-flex{
    display: flex;
    width: 666px;
    height: 418px;
    margin-left: 100px;
 }
 .project-sec .container .img-box .img-box-1 .img-flex img{
    width: 316px;
    height: 194px;
    box-shadow: 3px 3px 25px 5px #230C0C;
    /* padding: 30px 30px 30px 30px; */
    margin:  10px 10px 10px 10px;
 }


}

